@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Klee One', cursive;
}

body {
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: auto;
    align-items: center;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
}

.block-display {
    margin: auto;
    width: 40%;
    text-align: center;
    align-items: center;
}

.label-input {
    display: block;
    padding: 0.5rem 0;
    font-size: 1.5rem;
}

.input-values{
    display: block;
    margin: auto;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 2px solid rgb(24, 123, 245);
}

.btn {
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: rgb(24, 123, 245);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: rgb(24, 123, 245);
    border: 2px solid rgb(24, 123, 245)
}

#output {
    display: block;
    padding: 0.5rem 0;
    font-size: 1.5rem;
}


footer {
    padding-top: 1rem;
    margin-bottom: 0;
    width: 100%;
}

.heading-footer {
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
}

ul {
    text-align: center;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;    
}

ul li {
    display: inline-block;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}